In [1]:
import tensorflow as tf
print(tf.__version__)

import pandas as pd

2.2.0

In [2]:
train_df = pd.read_csv('Train.csv')
test_df = pd.read_csv('Test.csv')

In [3]:
import sklearn

In [8]:
train_df.info() , test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                7000 non-null   object
 1   Gender                     7000 non-null   object
 2   Age                        6588 non-null   float64
 3   Education_Level            7000 non-null   int64
 4   Relationship_Status        7000 non-null   object
 5   Hometown                   7000 non-null   object
 6   Unit                       7000 non-null   object
 7   Decision_skill_possess     7000 non-null   object
 8   Time_of_service            6856 non-null   float64
 9   Time_since_promotion       7000 non-null   int64
 10  growth_rate                7000 non-null   int64
 11  Travel_Rate                7000 non-null   int64
 12  Post_Level                 7000 non-null   int64
 13  Pay_Scale                  6991 non-null   float64
 14  Compensation_and_Benefits  7000 non-null   object
 15  Work_Life_balance          6989 non-null   float64
 16  VAR1                       7000 non-null   int64
 17  VAR2                       6423 non-null   float64
 18  VAR3                       7000 non-null   float64
 19  VAR4                       6344 non-null   float64
 20  VAR5                       7000 non-null   int64
 21  VAR6                       7000 non-null   int64
 22  VAR7                       7000 non-null   int64
 23  Attrition_rate             7000 non-null   float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                3000 non-null   object
 1   Gender                     3000 non-null   object
 2   Age                        2839 non-null   float64
 3   Education_Level            3000 non-null   int64
 4   Relationship_Status        3000 non-null   object
 5   Hometown                   3000 non-null   object
 6   Unit                       3000 non-null   object
 7   Decision_skill_possess     3000 non-null   object
 8   Time_of_service            2948 non-null   float64
 9   Time_since_promotion       3000 non-null   int64
 10  growth_rate                3000 non-null   int64
 11  Travel_Rate                3000 non-null   int64
 12  Post_Level                 3000 non-null   int64
 13  Pay_Scale                  2997 non-null   float64
 14  Compensation_and_Benefits  3000 non-null   object
 15  Work_Life_balance          2995 non-null   float64
 16  VAR1                       3000 non-null   int64
 17  VAR2                       2783 non-null   float64
 18  VAR3                       3000 non-null   float64
 19  VAR4                       2702 non-null   float64
 20  VAR5                       3000 non-null   int64
 21  VAR6                       3000 non-null   int64
 22  VAR7                       3000 non-null   int64
dtypes: float64(7), int64(9), object(7)
memory usage: 539.2+ KB

(None, None)

In [6]:
train_df.describe()

,Age,Education_Level,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
count,6588.000000,7000.000000,6856.000000,7000.000000,7000.000000,7000.000000,7000.000000,6991.000000,6989.000000,7000.000000,6423.000000,7000.000000,6344.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,39.622799,3.187857,13.385064,2.367143,47.064286,0.817857,2.798000,6.006294,2.387895,3.098571,-0.008126,-0.013606,1.891078,2.834143,7.101286,3.257000,0.189376
std,13.606920,1.065102,10.364188,1.149395,15.761406,0.648205,1.163721,2.058435,1.122786,0.836377,0.989850,0.986933,0.529403,0.938945,1.164262,0.925319,0.185753
min,19.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-1.817600,-2.776200,1.000000,1.000000,5.000000,1.000000,0.000000
25%,27.000000,3.000000,5.000000,1.000000,33.000000,0.000000,2.000000,5.000000,1.000000,3.000000,-0.961200,-0.453700,2.000000,2.000000,6.000000,3.000000,0.070400
50%,37.000000,3.000000,10.000000,2.000000,47.000000,1.000000,3.000000,6.000000,2.000000,3.000000,-0.104800,-0.453700,2.000000,3.000000,7.000000,3.000000,0.142650
75%,52.000000,4.000000,21.000000,3.000000,61.000000,1.000000,3.000000,8.000000,3.000000,3.000000,0.751600,0.707500,2.000000,3.000000,8.000000,4.000000,0.235000
max,65.000000,5.000000,43.000000,4.000000,74.000000,2.000000,5.000000,10.000000,5.000000,5.000000,1.608100,1.868800,3.000000,5.000000,9.000000,5.000000,0.995900

In [39]:
train_df=pd.read_csv('Train.csv')

In [45]:
pd.options.display.max_columns = 999

In [47]:
train_df[train_df['Attrition_rate']>0.9].to_csv('churners.csv',index=False)

In [28]:
train_df.corr()['Attrition_rate']*100

Age                                 -1.549753
Education_Level                     -0.814328
Time_of_service                     -1.644721
Time_since_promotion                 1.388005
growth_rate                          1.424654
Travel_Rate                         -1.260810
Post_Level                           1.640241
Pay_Scale                           -1.523632
Work_Life_balance                    2.074596
VAR1                                -0.807323
VAR2                                -2.399136
VAR3                                 0.124524
VAR4                                -1.311966
VAR5                                -0.476953
VAR6                                -0.312998
VAR7                                -1.529910
Attrition_rate                     100.000000
Compensation_and_Benefits_codes     -2.517508
Name: Attrition_rate, dtype: float64

In [18]:
train_df['Gender'].value_counts()

F    4114
M    2886
Name: Gender, dtype: int64

In [29]:
train_df['Compensation_and_Benefits'].value_counts()

type2    3945
type3    2382
type4     353
type0     187
type1     133
Name: Compensation_and_Benefits, dtype: int64

In [27]:
train_df['Compensation_and_Benefits_codes'] = train_df['Compensation_and_Benefits'].astype('category').cat.codes

In [35]:
dict(enumerate(train_df['Compensation_and_Benefits'].astype('category').cat.categories ))

{0: 'type0', 1: 'type1', 2: 'type2', 3: 'type3', 4: 'type4'}

In [43]:
sub = pd.read_csv('sample_submission.csv')

In [44]:
sub

  Employee_ID  Attrition_rate
0       TID_1          0.1588
1       TID_2          0.1424
2       TID_3          0.4758
3       TID_4          0.0846
4       TID_5          0.2388

In [49]:
sub = pd.DataFrame()
sub['Employee_ID']=test_df['Employee_ID']

In [50]:
sub['Attrition_rate'] = train_df['Attrition_rate'].mean()

In [51]:
sub

               Employee_ID  Attrition_rate
0                EID_22713        0.189376
1                 EID_9658        0.189376
2                EID_22203        0.189376
3                 EID_7652        0.189376
4                 EID_6516        0.189376
...                    ...             ...
2996             EID_10066        0.189376
2997              EID_7126        0.189376
2998              EID_4929        0.189376
2999             EID_24750        0.189376
Attrition_rate    0.189376        0.189376

[3001 rows x 2 columns]

In [52]:
sub.to_csv('mean_train.csv',index=False)

In [4]:
from sklearn.preprocessing import (Binarizer,KBinsDiscretizer, LabelEncoder,MinMaxScaler,MaxAbsScaler, Normalizer, OneHotEncoder,
                                   OrdinalEncoder,PolynomialFeatures)

In [56]:
train_df.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate,Compensation_and_Benefits_codes
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841,2
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670,2
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851,2
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668,2
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827,3

In [5]:
### Preprocessing Pipeline
df = train_df

In [84]:
g = train_df.columns.to_series().groupby(df.dtypes).groups

In [85]:
g

{dtype('int8'): Index(['Compensation_and_Benefits_codes'], dtype='object'),
 dtype('int64'): Index(['Education_Level', 'Time_since_promotion', 'growth_rate', 'Travel_Rate',
        'Post_Level', 'VAR1', 'VAR5', 'VAR6', 'VAR7'],
       dtype='object'),
 dtype('float64'): Index(['Age', 'Time_of_service', 'Pay_Scale', 'Work_Life_balance', 'VAR2',
        'VAR3', 'VAR4', 'Attrition_rate'],
       dtype='object'),
 dtype('O'): Index(['Employee_ID', 'Gender', 'Relationship_Status', 'Hometown', 'Unit',
        'Decision_skill_possess', 'Compensation_and_Benefits', 'Gender_encoded',
        'Relationship_Status_encoded'],
       dtype='object')}

In [96]:
train_df['Travel_Rate'].value_counts()

1    3827
0    2224
2     949
Name: Travel_Rate, dtype: int64

In [ ]:

train_df.columns

In [63]:
gender_map = dict(enumerate(train_df['Gender'].astype('category').cat.categories ))
df['Gender_encoded'] =  df['Gender'].map(gender_map)
gender_map

{0: 'F', 1: 'M'}

In [64]:

relationship_Status_map =  dict(enumerate(train_df['Relationship_Status'].astype('category').cat.categories ))
df['Relationship_Status_encoded'] =  df['Relationship_Status'].map(gender_map)
relationship_Status_map

{0: 'Married', 1: 'Single'}

In [65]:

relationship_Status_map =  dict(enumerate(train_df['Relationship_Status'].astype('category').cat.categories ))
df['Relationship_Status_encoded'] =  df['Relationship_Status'].map(gender_map)
relationship_Status_map

{0: 'Married', 1: 'Single'}

In [6]:
Hometown_lab_enc = LabelEncoder()

In [7]:
Hometown_lab_enc.fit_transform(df['Gender'])

array([0, 1, 0, ..., 0, 0, 0])

In [8]:
Hometown_lab_enc.classes_

array(['F', 'M'], dtype=object)

In [9]:
Hometown_lab_enc.inverse_transform([0])

array(['F'], dtype=object)

In [10]:
from sklearn.metrics import mean_squared_error
# From  mean_squared_error docs 
# squaredboolean value, optional (default = True)
# If True returns MSE value, if False returns RMSE value.

def Score_leaderboard(y_true,y_preds):
    return 100*max(0,1 - mean_squared_error(y_true,y_preds,squared=False))

In [13]:
target_col = ['Attrition_rate']
cat_cols = ['Gender','Relationship_Status', 'Hometown', 'Unit','Decision_skill_possess', 'Compensation_and_Benefits']

cardinal_cols =['Time_since_promotion', 'growth_rate', 'Age', 'Time_of_service',]
unknown_cols = ['VAR1', 'VAR2','VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7'] 
ordinal_cols = ['Education_Level','Post_Level', 'Pay_Scale', 'Work_Life_balance','Travel_Rate']
#  'Work_Life_balance' --> Rating out of 5 So ordinal

In [14]:
from sklearn.preprocessing import LabelEncoder
def setup_encoder(df,col_name):
    enc = LabelEncoder()
    return enc , enc.fit_transform(df[col_name])

In [15]:
cat_encoders ={}
for col in cat_cols:
    enc,out = setup_encoder(train_df,col_name=col)
    df[col+'_enc'] = out
    cat_encoders[col]=enc

In [16]:
df.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR5,VAR6,VAR7,Attrition_rate,Gender_enc,Relationship_Status_enc,Hometown_enc,Unit_enc,Decision_skill_possess_enc,Compensation_and_Benefits_enc
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,4,5,3,0.1841,0,0,1,2,2,2
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,3,5,3,0.0670,1,1,3,3,0,2
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,3,8,3,0.0851,0,0,0,8,2,2
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,3,7,3,0.0668,0,1,2,1,1,2
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,2,8,2,0.1827,0,0,3,3,2,3

In [26]:
 pd.options.display.max_rows = 999

In [27]:
df.groupby(['Gender','Relationship_Status','Education_Level','Decision_skill_possess']).count()['Employee_ID']

Gender  Relationship_Status  Education_Level  Decision_skill_possess
F       Married              1                Analytical                 59
                                              Behavioral                 62
                                              Conceptual                 67
                                              Directive                  63
                             2                Analytical                 71
                                              Behavioral                 64
                                              Conceptual                 64
                                              Directive                  71
                             3                Analytical                269
                                              Behavioral                280
                                              Conceptual                278
                                              Directive                 272
                             4                Analytical                214
                                              Behavioral                184
                                              Conceptual                194
                                              Directive                 211
                             5                Analytical                 70
                                              Behavioral                 55
                                              Conceptual                 69
                                              Directive                  54
        Single               1                Analytical                 41
                                              Behavioral                 35
                                              Conceptual                 31
                                              Directive                  43
                             2                Analytical                 26
                                              Behavioral                 30
                                              Conceptual                 46
                                              Directive                  35
                             3                Analytical                148
                                              Behavioral                150
                                              Conceptual                141
                                              Directive                 152
                             4                Analytical                103
                                              Behavioral                112
                                              Conceptual                110
                                              Directive                  96
                             5                Analytical                 37
                                              Behavioral                 35
                                              Conceptual                 36
                                              Directive                  36
M       Married              1                Analytical                 48
                                              Behavioral                 41
                                              Conceptual                 50
                                              Directive                  44
                             2                Analytical                 44
                                              Behavioral                 45
                                              Conceptual                 55
                                              Directive                  39
                             3                Analytical                177
                                              Behavioral                214
                                              Conceptual                193
                                              Directive                 194
                             4                Analytical                151
                                              Behavioral                128
                                              Conceptual                126
                                              Directive                 132
                             5                Analytical                 39
                                              Behavioral                 46
                                              Conceptual                 38
                                              Directive                  45
        Single               1                Analytical                 23
                                              Behavioral                 24
                                              Conceptual                 40
                                              Directive                  24
                             2                Analytical                 28
                                              Behavioral                 31
                                              Conceptual                 26
                                              Directive                  16
                             3                Analytical                 98
                                              Behavioral                 95
                                              Conceptual                 88
                                              Directive                 129
                             4                Analytical                 86
                                              Behavioral                 72
                                              Conceptual                 82
                                              Directive                  75
                             5                Analytical                 23
                                              Behavioral                 33
                                              Conceptual                 22
                                              Directive                  22
Name: Employee_ID, dtype: int64

In [ ]:

# Setting up Validation Set

##### Imputation

In [32]:
## Imputing Missing Values : Mean , -1, sklearn Techniques
## 

from sklearn.impute import SimpleImputer,KNNImputer,MissingIndicator

impute_cols =['Age', 'Time_of_service', 'Pay_Scale', 'Work_Life_balance', 'VAR2', 'VAR4']

# Iteration Startegy: 
# 1. Mean
# 2. Fill -1
# 3. KNNImputer





## IterativeImputer
# from sklearn.experimental import enable_iterative_imputer
# from sklearn.impute import IterativeImputer

## Validation Setup

In [35]:
from sklearn.model_selection import StratifiedKFold,StratifiedShuffleSplit

## Stratification Cols: 
# 1.
#
#

# Modelling

In [37]:
### Models to Try:
# Polynomial Regression
# Dense Neural Network 
# Random Forest
# XGboost
# Tabnet
# Featuretools --> Auto feature Engineering