## Imports

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import sklearn

print(tf.__version__)

pd.options.display.max_rows = 999

2.2.0

In [3]:
## Data Setup
train_df = pd.read_csv('Train.csv')
test_df = pd.read_csv('Test.csv')
train_df.info() , test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                7000 non-null   object
 1   Gender                     7000 non-null   object
 2   Age                        6588 non-null   float64
 3   Education_Level            7000 non-null   int64
 4   Relationship_Status        7000 non-null   object
 5   Hometown                   7000 non-null   object
 6   Unit                       7000 non-null   object
 7   Decision_skill_possess     7000 non-null   object
 8   Time_of_service            6856 non-null   float64
 9   Time_since_promotion       7000 non-null   int64
 10  growth_rate                7000 non-null   int64
 11  Travel_Rate                7000 non-null   int64
 12  Post_Level                 7000 non-null   int64
 13  Pay_Scale                  6991 non-null   float64
 14  Compensation_and_Benefits  7000 non-null   object
 15  Work_Life_balance          6989 non-null   float64
 16  VAR1                       7000 non-null   int64
 17  VAR2                       6423 non-null   float64
 18  VAR3                       7000 non-null   float64
 19  VAR4                       6344 non-null   float64
 20  VAR5                       7000 non-null   int64
 21  VAR6                       7000 non-null   int64
 22  VAR7                       7000 non-null   int64
 23  Attrition_rate             7000 non-null   float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                3000 non-null   object
 1   Gender                     3000 non-null   object
 2   Age                        2839 non-null   float64
 3   Education_Level            3000 non-null   int64
 4   Relationship_Status        3000 non-null   object
 5   Hometown                   3000 non-null   object
 6   Unit                       3000 non-null   object
 7   Decision_skill_possess     3000 non-null   object
 8   Time_of_service            2948 non-null   float64
 9   Time_since_promotion       3000 non-null   int64
 10  growth_rate                3000 non-null   int64
 11  Travel_Rate                3000 non-null   int64
 12  Post_Level                 3000 non-null   int64
 13  Pay_Scale                  2997 non-null   float64
 14  Compensation_and_Benefits  3000 non-null   object
 15  Work_Life_balance          2995 non-null   float64
 16  VAR1                       3000 non-null   int64
 17  VAR2                       2783 non-null   float64
 18  VAR3                       3000 non-null   float64
 19  VAR4                       2702 non-null   float64
 20  VAR5                       3000 non-null   int64
 21  VAR6                       3000 non-null   int64
 22  VAR7                       3000 non-null   int64
dtypes: float64(7), int64(9), object(7)
memory usage: 539.2+ KB

(None, None)

## Preprocessing Pipeline

In [ ]:
from sklearn.preprocessing import (Binarizer,KBinsDiscretizer, LabelEncoder,MinMaxScaler,MaxAbsScaler,
                                   Normalizer, OneHotEncoder, OrdinalEncoder,PolynomialFeatures)

In [ ]:
target_col = ['Attrition_rate']
cat_cols = ['Gender','Relationship_Status', 'Hometown', 'Unit','Decision_skill_possess', 'Compensation_and_Benefits']

cardinal_cols =['Time_since_promotion', 'growth_rate', 'Age', 'Time_of_service',]
unknown_cols = ['VAR1', 'VAR2','VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7'] 
ordinal_cols = ['Education_Level','Post_Level', 'Pay_Scale', 'Work_Life_balance','Travel_Rate']
#  'Work_Life_balance' --> Rating out of 5 So ordinal 

impute_cols =['Age', 'Time_of_service', 'Pay_Scale', 'Work_Life_balance', 'VAR2', 'VAR4']

#### Handling Categorical Value

In [ ]:
from sklearn.preprocessing import LabelEncoder
def setup_encoder(df,col_name):
    enc = LabelEncoder()
    return enc , enc.fit_transform(df[col_name])

cat_encoders ={}
for col in cat_cols:
    enc,out = setup_encoder(train_df,col_name=col)
    df[col+'_enc'] = out
    cat_encoders[col]=enc

#### Handling Continous Value : Normalize ?

#### Handling Ordinal Variable ? Special Treatment ?

#### Handling Missing Values: Imputing

In [ ]:
## Imputing Missing Values : Mean , -1, sklearn Techniques
## 

from sklearn.impute import SimpleImputer,KNNImputer,MissingIndicator

# Iteration Startegy: 
# 1. Mean
# 2. Fill -1
# 3. KNNImputer


## IterativeImputer
# from sklearn.experimental import enable_iterative_imputer
# from sklearn.impute import IterativeImputer

## Validation Data Setup : Stratfied Split

In [ ]:
from sklearn.model_selection import StratifiedKFold,StratifiedShuffleSplit
from sklearn.model_selection import train_test_split


## Stratification Cols: 
# 1.
#
#

#### Local Validation : Evaluation

In [ ]:
from sklearn.metrics import mean_squared_error
# From  mean_squared_error docs 
# squaredboolean value, optional (default = True)
# If True returns MSE value, if False returns RMSE value.

def Score_leaderboard(y_true,y_preds):
    return 100*max(0,1 - mean_squared_error(y_true,y_preds,squared=False))

# Modelling

In [ ]:
### Models to Try:
# Polynomial Regression
# Dense Neural Network 
# Random Forest
# XGboost
# Tabnet
# Featuretools --> Auto feature Engineering

## Model Inspection

In [6]:
from sklearn.inspection import partial_dependence

## Feature importance and Selection

In [7]:
from sklearn.feature_selection import chi2,mutual_info_regression,f_regression

## Generate Submission

In [5]:
def Create_submision(preds):
    sub = pd.DataFrame()
    test_df= pd.read_csv('test_df')
    sub['Employee_ID']=test_df['Employee_ID']
    sub['Attrition_rate'] = preds
    return sub